/* o '*' muda tudo*/
*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}
/* estilo do cabeçalho*/
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(207, 207, 207); /*cor de fundo*/
    color: black; /*cor da letra do site*/
    background-size: cover;
}
/*cabeçalho e navegação*/
header{
    background-color: #ffffff; /*cora da barra de menu*/
    padding: 10px 0; /*tamanho da barra de menu*/
}
header nav ul{
    list-style: none; /*deixa o texto sem ser em formato de lista*/
    text-align: center; /*alinha o texto no centro*/
}
header nav ul li{
    display: inline-block;margin: 0 20px; /*espaço entre as palavras*/
}
header nav ul li a{
    color: rgb(0, 0, 0); /*cor da letra do menu*/
    text-decoration: none; /*tira o sublinhado das palavras*/
    font-size: 18px; /*tamanho da letra do menu*/
}
header nav ul li a:hover{
    color:#2563EB; /*cor que aparece quando coloca o mause por cima*/
}
/*Estilização do Início*/
.ini-section{
    text-align: center;
    color: #000000;
    height: 60vh; /*diferença de altura entre as frases*/
    display:flex; /*permite controlar o posicionamneto e o espaçamento dos elementos*/
    flex-direction: column; /*deixar os texto em coluna*/
    justify-content:center; /*deixar no centro da tela*/
    align-items: center;
    padding: 20px;
}
.ini-section h1{
    font-size: 48px;
    margin-bottom: 20px; /*espaçamento de h1 para o botão*/
}
.ini-section p{
    font-size: 20px;
    margin-bottom: 20px; /*espaçamento de p para o botão*/
    max-width: 600px; /*largura maxima do paragrafo*/
}
.cta-button{
    background-color:#2563EB;
    color:black;
    text-decoration: none;
    padding: 15px 30px; /*tamanho do botão*/
    border-radius: 5px; /*borda do botão*/
    font-weight: bold; /*negrito*/
    transition: background-color 0.5s; /*quanto tempo para a cor de destaque aparecer*/
    letter-spacing:0.6px; /*espaço entre as letras*/
}
.cta-button:hover{
    background-color: rgb(0, 195, 255); /*cor de destaque do botão*/
}
/* aqui começa a sessão de sobre nós - crtl e ; para comentar e descomenta */
.sobre-section{
    background-color:rgb(255, 255, 255);
    padding: 50px 20px;
    text-align: center;
}
.sobre-section h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.sobre-section p{
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 600px;
    margin: 0 auto 20px auto;
    line-height: 1.5;
}
/* seção de serviços */
#serviços{
    background: color #f5f5f5;;
    text-align: center;
    padding: 50px 20px;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card{
    background-color: #2563EB;
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 20 4px 8px black;
    cursor: pointer;
    transition: transform 0.3s;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgb(0, 0, 0);
    background-color:#2563EB;
}
.card h3{
    font-size: 23px;
    margin-bottom: 10px;
}
.card p{
    font-size: 16px;
    margin-bottom: 10px;
}
.preco{
    font-weight: bold;
    font-size: 18px;
}
#servico h2{
font-size: 30px;
}
/* Seção de contato */
#contato{
    background-color:black;
    color: white;
    padding: 50px 20px;
    text-align: center;
}
#contato h2{
    font-size:30px;
    margin-bottom: 20px;
}
.contato-form{
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}
.contato-form label{
    display: block;
    margin-bottom: 5px;
}
.contato-form input, .contato-form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
}
.contato-form button{
    background-color: #2563EB;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.contato-form button:hover{
    background-color: #2563EB;
}
.rodape{
    background-color: brown;
    color: white;
    padding: 15px;
    text-align: center;
}