h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    font-weight:800;
    font-style:italic;
    text-align:center;
    text-decoration:underline;
    background-color: rgb(68, 34, 122);
    color: rgb(255, 251, 19);
    line-height: normal;
    letter-spacing: normal;
}