.corpo{
    margin: 0;
    font-family:'Times New Roman', Times, serif
    
}
.topo{
    background-color: cadetblue; /*cor do cabeçalho*/
    padding: 10px 0;/*tamanho dele*/
}
.menu{
    display:flex;
    justify-content:right; /*posição do menu*/

}
.menu a{
    color: black; /*cor da letra*/
    padding: 5px 20px; /*espaçamento entre os nome*/ 
    transition:background 0.3s;
}
.menu a:hover{
    background-color:rgb(73, 129, 131)
}